{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "tabWidth": 2,
  "printWidth": 50,
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true
}
